PlayCea.RLClient/.vs/*
PlayCea.RLClient/PlayCEA.RLClient/bin/*
PlayCea.RLClient/PlayCEA.RLClient/obj/*
PlayCea.RLClient/PlayCEA.RLClient/objd/*
PlayCea.RLClient/RlClientTest/bin/*
PlayCea.RLClient/RlClientTest/obj/*
PlayCea.RLClient/RlClientTest/objd/*